<div class="container-fluid">
    <div class="row">
        <br>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    <p class="headings">Assign Training To Employee </p>
                </div>
            </div>
            <div class="card">
                <br>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="newFont">Employee Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Training <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Training Condition <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">To be Completed By<span style="color: red;">*</span></p>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <select class="form-control" name="name123" id="name123" [(ngModel)]="name123"
                            (change)="getdata($event)">
                            <option value="0">Select Employee Name</option>
                            <option *ngFor="let details of stafflist" value="{{details.id}}">{{details.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="courseid" id="courseid" [(ngModel)]="courseid"  (change)="getcourseID($event)">
                            <option value="0">Select Training</option>
                            <option *ngFor="let details of uniquelist" value="{{details.courseID}}">{{details.courseName}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            (click)="on1()" >
                            <label class="form-check-label" for="inlineRadio1" name="mandatory" id="mandatory"
                                [(ngModel)]="mandatory" (click)="on1()">Mandatory</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            (click)="on2()"  >
                            <label class="form-check-label" for="inlineRadio2" name="Learning" id="Learning"
                            [(ngModel)]="Learning" (click)="on2()">Learning Path</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            (click)="on3()">
                            <label class="form-check-label" for="inlineRadio3" name="pip" id="pip"
                            [(ngModel)]="pip"  (click)="on3()">PIP</label>
                        </div>

                    </div>
                    <div class="col-md-2">
                       <input type="date" class="form-control" name="toBeCompletedDate" id="toBeCompletedDate" min="{{maxdate}}" [(ngModel)]="toBeCompletedDate">
                    </div>
                </div>
                <br>
                <!-- <div class="row leavereq" *ngIf="mandatory==1">

                    <div class="col-lg-2">
                        <p>To be Completed By</p>
                        <select class="form-control">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>

                        </select>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-1">
                        <button class="form-control cancel" *ngIf="id==null || id==undefined"
                            (click)="EnrollMultipleTraining()">Add</button>
                        <button class="form-control cancel" *ngIf="id!=null || id!=undefined"
                            (click)="Update()">Update</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control cancel" (click)="Cancel()">Cancel</button>
                    </div>
                </div><br>
            </div> <br>
            <div class="row" *ngIf="tablecount==1">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Training Name</th>
                                <th>To Be Completed By</th>
                                <th>Mandatory</th>
                                <th>Learning Path</th>
                                <th style="width: 50px;">PIP</th>
                            </tr>
                            <tr *ngFor="let details of trainingresultArray">
                                <td>{{details.employeeName}}</td>
                                <td>{{details.courseName}}</td>
                                <td>{{details.toBeCompletedDate|date}}</td>
                                <td>
                                    <p *ngIf="details.mandatory==0||details.mandatory==null">No</p>
                                    <p *ngIf="details.mandatory==1">Yes</p>
                                </td>
                               
                                <td>
                                    <p *ngIf="details.learningPath==0||details.learningPath==null">No</p>
                                    <p *ngIf="details.learningPath==1">Yes</p>
                                </td>
                                <td>
                                    <p *ngIf="details.pip==0||details.pip==null">No</p>
                                    <p *ngIf="details.pip==1">Yes</p>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <br>
                    <div class="row">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                            <button class="form-control cancel" (click)="InsertEnrollTraining()">Assign</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button type="button" class="cancel" (click)="edit()" data-dismiss="modal">Update</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div> -->