.card{
    width:100%;
   background: #FFFFFF;
   box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
   border-radius: 12px;
  }
  .newtext{
    color:#0C275A;
  }
  .filter{
      margin-left: 15px;
  }

  .Button{
    background-color: #3247D5;
    color: white;
    border-radius: 5px;
    border: none;
    width: 55%;
    height: auto;
    margin: 2px;
  }
  th{
    width: 1500px;
  }
  


    
span.cls_003{font-family:Poppins;font-size:28.0px;color:rgb(85,79,76);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Poppins;font-size:30.0px;color:rgb(85,79,76);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Poppins;font-size:29.5px;color:rgb(190,139,68);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Poppins;font-size:29.5px;color:rgb(190,139,68);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Poppins;font-size:14.1px;color:rgb(54,50,49);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Poppins;font-size:14.1px;color:rgb(54,50,49);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Poppins;font-size:25px;color:rgb(152,140,131);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Poppins;font-size:25px;color:rgb(152,140,131);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Poppins;font-size:16px;color:rgb(37,36,34);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Poppins;font-size:16px;color:rgb(67, 58, 40);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Poppins;font-size:22.5px;color:rgb(85,79,76);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Poppins;font-size:22.5px;color:rgb(85,79,76);font-weight:normal;font-style:normal;text-decoration: none}