<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Attendance Details</p>
        </div>
        <div class="col-lg-2">
            <p class="count">Count: {{Attendance.length}}</p>
        </div>
    </div>

    <div class="card">
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter" style="margin-left: 15px;">Filter By </p>
            </div>
            <div class="col-lg-2">
                <input type="search" class="form-control search" placeholder="Search" [(ngModel)]="search">
            </div>
            <!-- <div class="col-lg-2">
                <select class="form-control"  name="Course" [(ngModel)]="Course" (change)="getcourseid($event)">
                    <option value="0" >Select Training</option>
                    <option style="color:#0C275A" *ngFor="let details of courseList" value="{{details.name}}" >{{details.name}}</option>
                </select>
            </div>
            <div class="col-lg-2">
                <select class="form-control"     name="courseID" [(ngModel)]="TopicID" (change)="getcourseid($event)">
                    <option value="0">Topic Name</option>
                    <option *ngFor="let details of TopicList" value="{{details.id}}">{{details.name}}</option>
                </select>
            </div> -->
            <div class="col-lg-2" *ngIf="roleid==3">
                <select class="form-control"     name="courseID" [(ngModel)]="TopicID" (change)="getEmpID($event)">
                    <option value="0">Employee Name</option>
                    <option *ngFor="let details of EmployeeList" value="{{details.id}}">{{details.name}}</option>
                </select>
            </div> 
            <div class="col-lg-2">
                <input type="date" class="form-control" id="Date" name="Date" [(ngModel)]="Date" >
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate" (change)="filterbydate()">
            </div>
        </div>
    </div> <br>

 <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
        <button class="Button" (click)="exportexcel()">Export To Excel</button>
        
    </div>
   
</div>

<br>
<div class="row" *ngIf="EmployeeList">
    <div class="col-lg-9"></div>
    <div class="col-lg-3">
<p>No. of total hours {{StaffNoofHrs|date:"HH:mm"}}</p>
    </div>
</div>
<!-- <br> -->
<div class="row">
    <div class="col-lg-10"></div>
</div>


    <div class="row">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="download" class="table" *ngIf="(Attendance | filter: search).length > 0; else noResults">
                            <thead>
                                <tr>
                                    <th *ngIf="roleid!=2">Employee ID</th>
                                    <th *ngIf="roleid!=2">Employee Name</th>
                                    <th>Login Date</th>
                                    <th>Log In Time</th>
                                  
                                    <!-- <th>Training Name</th> -->
                                    <!-- <th>Topic Name</th> -->
                                    <th>Log Out Time</th>
                                    <th>No of Hrs</th>
                                    <!-- <th *ngIf="roleid!=2 && roleid!=4">Trainee Name</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let details of Attendance | filter: search">
                                    <td *ngIf="roleid!=2">{{details.empID}}</td>
                                    <td *ngIf="roleid!=2">{{details.employeename}}</td>
                                    <td>{{details.loginDate}}</td>
                                    <td>{{details.loginTime}}</td>
                                  
                                    <!-- <td>{{details.trainingname}}</td> -->
                                    <!-- <td>{{details.topicName}}</td> -->
                                    <td>
                                        <p *ngIf="details.logoutTime==null">00:00</p>
                                        <p *ngIf="details.logoutTime!=null">{{details.logoutTime}}</p>
                                        
                                    </td>
                                    <td>
                                        <p *ngIf="details.noofhrs==null">0</p>
                                        <p *ngIf="details.noofhrs!=null"> {{details.noofhrs|date:"HH:mm"}}</p>
                                      </td>
                                      <!-- <td>{{StaffNoofHrs}}</td> -->
                                    <!-- <td *ngIf="roleid!=2 && roleid!=4">{{details.trainerName}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #noResults>
                            <p class="NoResultShow"> No results found </p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
