<!-- <app-loader *ngIf="loader==true"></app-loader> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-8" style="max-width: 41.666667%;">
                    <p style="font-size: 19px;
                    color: #3247D5; font-weight: bold;"><u>{{coursename}}</u></p>
                    <!-- <img src="{{chapterphoto}}" alt="1st Training Assessment"
                style="width:100%; height:100px; padding-right:20px;border-radius: 10px;"> <br> <br> -->

                    <img style="overflow-y: auto;height:250px;width: 268px;" *ngIf="show==1" class="chapterimage"
                        src="{{chapterphoto}}">
                    <video controls style="height: 384px; width: auto;" *ngIf="show==2">
                        <source src="{{chapterphoto}}" type="video/mp4">
                        <source src="{{chapterphoto}}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>

                    <!-- <pdf-viewer src="{{chapterphoto}}" *ngIf="show==3||show==4"  style="height: 300px; width: 100%;" [render-text]="true" [original-size]="false"></pdf-viewer> -->
                    <iframe [src]="chapterphoto" style="height: 384px; width: 100%;" *ngIf="show==3||show==4"></iframe>

                    <!-- <iframe src="{{chapterphoto}}" style="height: 384px; width: 100%;" *ngIf="show==5"></iframe> -->
                    <ngx-doc-viewer *ngIf="show==5" url="{{chapterphoto}}" viewer="google"
                        style="width:100%;height:50vh;">
                    </ngx-doc-viewer>

                </div>
                <div class="col-lg-4">

                    <!-- <img class="icon" style="height:30px;width:30px" *ngIf="details.attachmentType=='video'"
                            src="assets/Images/Video_lcon.png" alt="video_icon" (click)="PreviewVideo(details.photo)"> -->
                    <!-- 
                        <img class="icon" style="height:30px;width:30px" *ngIf="details.attachmentType=='Pdf'"
                            src="assets/pdf.jpg" alt="video_icon" (click)="PreviewPdf(details.photo)">
        
                        <img class="icon" style="height:30px;width:30px" *ngIf="details.attachmentType=='Image'"
                            src="assets/Images/image.png" alt="video_icon" (click)="PreviewIMG(details.photo)">
        
                        <img class="icon" style="height:30px;width:30px" *ngIf="details.attachmentType=='Ppt'"
                            src="assets/Images/files.png" alt="video_icon" (click)="PreviewPPT(details.photo)">
        
                        <img class="icon" style="height:30px;width:30px" *ngIf="details.attachmentType=='Document'"
                            src="assets/Images/word.png" alt="video_icon" (click)="PreviewMSword(details.photo)"> -->

                    <table *ngFor="let details of Attachmentlist" style="background-color:transparent">
                        <tr>
                            <td>
                                <img class="icon" style="height:30px;width:30px" data-toggle="tooltip"
                                    data-placement="top" title="{{details.cuttingurl}}"
                                    *ngIf="details.attachmentType=='video'" src="assets/Images/Video_lcon.png"
                                    alt="video_icon" (click)="PreviewVideo(details.photo)">
                                <span *ngIf="details.attachmentType=='video'">{{details.cuttingurl}}</span>

                                <img class="icon" style="height:30px;width:30px" *ngIf="details.attachmentType=='Pdf'"
                                    src="assets/Images/pdf.jpg" alt="video_icon" (click)="PreviewPdf(details.photo)">
                                <p *ngIf="details.attachmentType=='Pdf'">{{details.cuttingurl}}</p>


                                <img class="icon" style="height:30px;width:30px" data-toggle="tooltip"
                                    data-placement="top" title="{{details.cuttingurl}}" EnrolledTraining
                                    *ngIf="details.attachmentType=='Image'" src="assets/Images/image.png"
                                    alt="video_icon" (click)="PreviewIMG(details.photo)">
                                <p *ngIf="details.attachmentType=='Image'">{{details.cuttingurl}}</p>

                                <img class="icon" style="height:30px;width:30px" data-toggle="tooltip"
                                    data-placement="top" title="{{details.cuttingurl}}"
                                    *ngIf="details.attachmentType=='Ppt'" src="assets/Images/files.png" alt="video_icon"
                                    (click)="PreviewPPT(details.photo)">
                                <p *ngIf="details.attachmentType=='Ppt'">{{details.cuttingurl}}</p>

                                <img class="icon" style="height:30px;width:30px" data-toggle="tooltip"
                                    data-placement="top" title="{{details.cuttingurl}}"
                                    *ngIf="details.attachmentType=='Document'" src="assets/Images/word.png"
                                    alt="video_icon" (click)="PreviewMSword(details.photo)">
                                <p *ngIf="details.attachmentType=='Document'">{{details.cuttingurl}}</p>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <br>
            <br>
            <div>
                <p style=" margin-left: 15px; height:100px;color: #0C275A; font-family: Poppins;font-style: normal;
                font-weight: normal;font-size: 16px;line-height:17px;" [innerHTML]="chapterdescription"></p>

            </div>
        </div>
        <div class="col-lg-3">
            <button type="button" class="list-group-item list-group-item-action active color">
                Topics
            </button>

            <div class="list-group" style=" overflow-y:auto;height:230px;border:black;border-bottom:2px solid silver;">
                <button type="button" class="list-group-item list-group-item-action border"
                    *ngFor="let details of coursedetails" (click)="getcoursedetails(details)">{{details.name}}<br>
                    <button class="btn btn-sm btn-primary newbutton"
                        *ngIf="details.teststatus=='nottaken' && details.trainingType==3" id="id" name="id"
                        data-toggle="modal" data-target="#topic">upload</button>
                </button>
            </div>
            <br>
            <button type="button" class="list-group-item list-group-item-action active color">
                Assessments
            </button>
            <div class="list-group" style="overflow-y:auto;height:230px;">
                <button type="button" class="list-group-item list-group-item-action border"
                    *ngFor="let details of coursedetails" (click)="getcoursedetails(details)"
                    [routerLink]="['/Employee/TakeAssessment',details.courseID,details.id]">{{details.assesmentName}}

                    <p style="display: inline;">

                        <label style="    font-family: 'Poppins';
                        color: blue;" *ngIf="details.obtainedMarks!=null">{{details.obtainedMarks/details.totalmarks
                            *100 | number : '1.2-2'}} %</label><br>

                        <button class="btn btn-sm btn-primary newbutton"
                            *ngIf="details.teststatus=='nottaken' "
                            [routerLink]="['/Employee/TakeAssessment',details.courseID,details.id,1]" id="id" name="id">
                            Take Assessment</button>
                            <!-- && details.trainingType!=3 -->

                        <button class="btn btn-sm btn-primary newbutton"
                            *ngIf="details.teststatus=='nottaken' && details.trainingType==3" id="id" name="id"
                            (click)="getid(details.id)" data-toggle="modal" data-target="#assessment">upload</button>

                        <button class="btn btn-sm btn-danger newbutton"
                            *ngIf="details.teststatus=='Subjective Result Pending'" id="id" name="id"> Pending
                            Result</button>

                        <button class="btn btn-sm btn-danger newbutton1" *ngIf="details.teststatus=='Failed'"
                            [routerLink]="['/Employee/TakeAssessment',details.courseID,details.id,1]" id="id"
                            name="id">&#10006;
                            Retake Assessment</button>

                        <button class="btn btn-sm btn-success newbutton" *ngIf="details.teststatus=='Passed'" id="id"
                            name="id">&#10003;Assessment Passed
                        </button>
                </button>
                <hr>
                <div class="row" style="overflow-y:auto;height:230px;" *ngIf="teststatus=='Passed'">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <button class="Certificate" (click)="certificate()" data-toggle="modal"
                        data-target="#Certificate" >Certificate</button>
                    </div>
                </div>
            </div>
          
           
        </div>
    </div>
</div>





<div class="modal fade" id="topic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Topic Content Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <img class="image" src="assets/Images/youtube.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/word.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/pdf.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/image.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/files.png">&nbsp;&nbsp;
                            </ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button type="button" class="cancel" (click)="Add()" data-dismiss="modal">Update</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <!-- <button type="button" class="cancel" data-dismiss="modal">Close</button> -->

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Assessment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <img class="image" src="assets/Images/word.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/pdf.png">&nbsp;&nbsp;
                            </ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button type="button" class="cancel" (click)="save()" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <!-- <button type="button" class="cancel" data-dismiss="modal">Close</button> -->

            </div>
        </div>
    </div>
</div>


<div class="modal" id="Certificate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title"> Certificate</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
            <div id="downloadaplication"
                style="position:absolute;left:50%;margin-left:-421px;top:0px;width:842px;height:595px;border-style:outset;overflow:hidden;background-color: rgb(245, 232, 210);border: 5px solid black;">
                <div style="position:absolute;left:300.76px;top:84.60px" class="cls_002"><span class="cls_002">Learning
                        And Development </span></div>
                <div style="position:absolute;left:225.12px;top:162.60px" class="cls_003"><span
                        class="cls_003">CERTIFICATE OF COMPLETION</span></div>
                <div style="position:absolute;left:320.68px;top:252.52px" class="cls_004"><span
                        class="cls_004">Presented to</span></div>
                <div style="position:absolute;left:350.40px;top:290.88px" class="cls_005"><span
                        class="cls_005">{{UserName}}</span></div>
                <div style="position:absolute;left:330.04px;top:336.24px;" class="cls_006"><span
                        class="cls_0061">{{coursename}}</span></div>
                <div style="position:absolute;left:369.68px;top:430.80px" class="cls_006"><span class="cls_006">Provided
                        by</span></div>
                <div style="position:absolute;left:370.68px;top:450.32px" class="cls_007"><span
                        class="cls_007">Amaze</span>
                </div>
                <div style="position:absolute;left:373.76px;top:481.44px" class="cls_006"><span class="cls_006">
                        JAN 2022</span></div>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button
                            style="background-color: #3247D5;color:white;border-radius: 5px;border:none;margin-top: 10px;"
                            (click)="download()">Download</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="row">
            <div class="col-lg-12">
                <div style="position:absolute;left:50%;margin-left:-420px;top:0px;width:841px;height:595px;border-style:outset;overflow:hidden">
                    <div style="position:absolute;left:0px;top:0px">
                    <img src="assets/Images/background1.jpg" width=841 height=595></div>
                    <div style="position:absolute;left:250.35px;top:76.00px" class="cls_003"><span class="cls_003">CERTIFICATE</span></div>
                    <div style="position:absolute;left:272.13px;top:135.14px" class="cls_004"><span class="cls_004">OF APPRECIATION</span></div>
                    <div style="position:absolute;left:242.02px;top:191.99px" class="cls_002"><span class="cls_002">THIS CERTIFICATE IS PROUDLY PRESENTED TO</span></div>
                    <div style="position:absolute;left:241.97px;top:218.16px" class="cls_005"><span class="cls_005">Kaushiki</span></div>
                    <div style="position:absolute;left:183.19px;top:337.78px" class="cls_006"><span class="cls_006">Digital Marketing </span></div>
                    <div style="position:absolute;left:164.05px;top:352.18px" class="cls_006"><span class="cls_006">nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</span></div>
                    <div style="position:absolute;left:389.99px;top:366.57px" class="cls_006"><span class="cls_006">volutpat.</span></div>
                    <div style="position:absolute;left:150.05px;top:492.82px" class="cls_007"><span class="cls_007">DATE</span></div>
                    <div style="position:absolute;left:556.76px;top:492.82px" class="cls_007"><span class="cls_007">SIGNATURE</span></div>
                    </div>
                </div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->