<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Assign Training Dashboard</p>
        </div>
        <div class="col-lg-2">
            <p class="count">Count: {{count}}</p>
        </div>
    </div>
    <div class="card">
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter">Filter By</p>
            </div>
            <div class="col-lg-5">
                <input type="search" class="form-control search" placeholder="Search for Name.." [(ngModel)]="search"
                    (ngModelChange)="filterAssignTraining()">
            </div>
        </div>
    </div> <br>





    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button class="form-control addnew" routerLink="/Manager/AssignCourseToEmployee">Add</button>
        </div>
    </div> <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table" *ngIf="(assignList | filter: search).length > 0; else noResults">
                    <thead>
                        <tr style="white-space: pre;">
                            <th>Month</th>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Training Name</th>
                            <th>Trainer</th>
                            <th>Position</th>
                            <th>Band</th>
                            <th>Level</th>
                            <th>Mandatory</th>
                            <th>Learning Path</th>
                            <th style="width: 50px;">PIP</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let details of assignList|filter:search">
                            <td>{{details.monthName}}</td>
                            <td>{{details.staffID}}</td>
                            <td>{{details.employeeName}}</td>
                            <td>{{details.courseName}}</td>
                            <td>{{details.trainer}}</td>
                            <!-- <td style="font-size: 15px;">{{details.position}}</td>
                            <td style="font-size: 15px;">{{details.band}}</td>
                            <td style="font-size: 15px;">{{details.level}}</td> -->
                            <td>Developers</td>
                            <td>Staff</td>
                            <td>A1</td>
                            <td>
                                <p *ngIf="details.mandatory==0||details.mandatory==null">No</p>
                                <p *ngIf="details.mandatory==1">Yes</p>
                            </td>
                            <td>
                                <p *ngIf="details.pip==0||details.pip==null">No</p>
                                <p *ngIf="details.pip==1">Yes</p>
                            </td>
                            <td>
                                <p *ngIf="details.learningPath==0||details.learningPath==null">No</p>
                                <p *ngIf="details.learningPath==1">Yes</p>
                            </td>
                            <td style="width:0px">


                                <!-- <img src="assets/Images/Edit_ICON.png" alt="Edit_ICON" style="width: 10%;"
                                (click)="edit(details.id)" > &nbsp;&nbsp; -->

                                <img src="assets/Images/Delete_ICON.png" alt="Delete_ICON"
                                    (click)="Ondelete(details.id)" style="width: 30px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noResults>
                    <p class="NoResultShow"> Results not found </p>
                </ng-template>
            </div>
        </div>
    </div>


</div>