.table{
    border-radius: 10px;  
  }
  .certificate{
      background-color: #3247D5;
      color:white;
      border-radius: 5px;
      border:none;
  }

  /* Button{

    background-color:#0957e9;
    color: whitesmoke;
    width:60px;
    border-radius: 5px;
    border-width:0px;



  } */

  .Button{
    background-color: #3247D5;
    color:white;
    border-radius: 5px;
    border: none;
    width:75%;
    height:160%
  }