<!-- <app-loader *ngIf="loader==true"></app-loader> -->
<div class="container-fluid">
    <div class="card card1">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <h1>{{coursedetails[0].courseName}}</h1>
                    <hr>
                    <p style="background-color: white; padding: 10px;">{{coursedetails[0].courseDescription}}</p>
                    <hr>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Trainer :</p>
                        </div>
                        <div class="col-lg-6">
                            <p>{{coursedetails[0].trainerName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Start Date :</p>
                        </div>
                        <div class="col-lg-6">
                            <p>{{coursedetails[0].startDate|date}} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>End Date :</p>
                        </div>
                        <div class="col-lg-6">
                            <p>{{coursedetails[0].endDate|date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Entry Criteria :
                            <p>
                        </div>
                        <div class="col-lg-6">
                            <p>{{coursedetails[0].courseEntryCriteria}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Exit Criteria :
                            <p>
                        </div>
                        <div class="col-lg-6">
                            <p>{{coursedetails[0].courseExitCriteria}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img style="width:100%;height:auto" src="{{coursedetails[0].photo}}">
                </div>
            </div> <br> <br>
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4">
                    <div> <button class="button" data-toggle="modal" data-target="#enroll">ENROLL</button><br>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-7 ">
                <div class="col-lg-12" style="font-size: 20px; text-align: center; padding:10px;color: black;">
                    <!-- <a href="#demo4" class="chapter" data-toggle="collapse" style="font-size: 18px;color: black;">
                            Sample Chapter</a> -->
                    <a class="chapter" style="font-size: 18px;color: black;">
                        Sample Topics</a>
                </div>
                <div>
                    <div class="card chapter"  style=" overflow-x: hidden">
                        <div class="row" >
                            <div class="col-lg-10 chapter">
                                <!-- <a href="" class="chapter" style="font-size: 18px;" (click)="GetDetails(details.name)">
                                    <u>{{details.name}}</u> </a> -->
                                    <a class="chapter" style="font-size: 18px;">
                                        <u>{{Name}}</u> </a>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="chapter" style="margin-left: 30px;height: 150px; overflow-y: scroll">
                                            {{Description}} </p>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-lg-5" style="margin-left: 30px;">
                                        <br>
                                        <p (click)=" ShowAttachments(viewcourseID)"><u>Click Here To View Training Material</u></p>

                                        <!-- <img class="image" src="assets/Images/pdf.jpg" style="width:20%; height: auto;"
                                            (click)="PreviewPdf()"> &nbsp; &nbsp;

                                            <img src="assets/Images/pdf.png" style="width: 30px;" (click)="Previewvideo(details.vedioUrl)">

                                        <img class="image" src="assets/Images/Video_lcon.png"
                                            style="width: 20%; height: auto;" (click)="PreviewPdf()"><br> -->
                                            <div *ngIf="viewcourseID==attachmentId" class="row">
                                                <div *ngFor="let details of Attachmentlist" class="col-lg-4">
                                                
                                                    <img class="icon" style="height:30px;width:30px"
                                                        *ngIf="details.attachmentType=='video'"
                                                        src="assets/Images/Video_lcon.png" alt="video_icon" (click)="PreviewVideo(details.photo)">
                                                        <!-- (click)="PreviewVideo(details.photo) -->
                            
                                                    <img class="icon" style="height:30px;width:30px"
                                                        *ngIf="details.attachmentType=='Pdf'" src="assets/Images/pdf.jpg"
                                                        alt="video_icon1"(click)="PreviewPdf(details.photo)">
                                                        <!-- (click)="PreviewPdf(details.photo)"> -->
                            
                                                    <img class="icon" style="height:30px;width:30px"
                                                        *ngIf="details.attachmentType=='Image'" src="assets/Images/image.png"
                                                        alt="video_icon2"(click)="PreviewIMG(details.photo)">
                                                         <!-- (click)="PreviewIMG(details.photo)"> -->
                            
                                                    <img class="icon" style="height:30px;width:30px"
                                                        *ngIf="details.attachmentType=='Ppt'" src="assets/Images/files.png"
                                                        alt="video_icon3" (click)="PreviewPPT(details.photo)">
                                                        <!-- (click)="PreviewPPT(details.photo)"> -->
                            
                                                    <img class="icon" style="height:30px;width:30px"
                                                        *ngIf="details.attachmentType=='Document'" src="assets/Images/word.png"
                                                        alt="video_icon4"(click)="PreviewMSword(details.photo)">
                                                         <!-- (click)="PreviewMSword(details.photo)"> -->
                                                </div>    
                                            </div>                               

                                    </div>
                                    <div class="col-lg-7"></div>
                                </div> <br>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="card chapter" style=" overflow-x: hidden">
                        <div class="row" >
                            <div class="col-lg-10 chapter">
                                <!-- <a href="" class="chapter" style="font-size: 18px;" (click)="GetDetails(details.name)">
                                    <u>{{details.name}}</u> </a> -->
                                    <a class="chapter" style="font-size: 18px;" (click)="GetDetails(Name2)">
                                        <u>{{Name2}}</u> </a>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="chapter" style="margin-left: 30px;height: 150px;overflow-y: scroll">
                                            {{Description2}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5" style="margin-left: 30px;">
                                        <br>
                                        <p (click)=" ShowAttachments(viewcourseID2)"><u>Click Here To View Training Material</u></p>

                                        <!-- <img class="image" src="assets/Images/pdf.jpg" style="width:20%; height: auto;"
                                            (click)="PreviewPdf()"> &nbsp; &nbsp;

                                            <img src="assets/Images/pdf.png" style="width: 30px;" (click)="Previewvideo(details.vedioUrl)">

                                        <img class="image" src="assets/Images/Video_lcon.png"
                                            style="width: 20%; height: auto;" (click)="PreviewPdf()"><br> -->
                                            <div *ngIf="viewcourseID2==attachmentId" class="row">
                                                <div *ngFor="let details of Attachmentlist" class="col-lg-4">
                                                
                                                    <img class="icon" style="height:30px;width:30px"
                                                    *ngIf="details.attachmentType=='video'"
                                                    src="assets/Images/Video_lcon.png" alt="video_icon" (click)="PreviewVideo(details.photo)">
                                                    <!-- (click)="PreviewVideo(details.photo) -->
                        
                                                <img class="icon" style="height:30px;width:30px"
                                                    *ngIf="details.attachmentType=='Pdf'" src="assets/Images/pdf.jpg"
                                                    alt="video_icon1"(click)="PreviewPdf(details.photo)">
                                                    <!-- (click)="PreviewPdf(details.photo)"> -->
                        
                                                <img class="icon" style="height:30px;width:30px"
                                                    *ngIf="details.attachmentType=='Image'" src="assets/Images/image.png"
                                                    alt="video_icon2"(click)="PreviewIMG(details.photo)">
                                                     <!-- (click)="PreviewIMG(details.photo)"> -->
                        
                                                <img class="icon" style="height:30px;width:30px"
                                                    *ngIf="details.attachmentType=='Ppt'" src="assets/Images/files.png"
                                                    alt="video_icon3" (click)="PreviewPPT(details.photo)">
                                                    <!-- (click)="PreviewPPT(details.photo)"> -->
                        
                                                <img class="icon" style="height:30px;width:30px"
                                                    *ngIf="details.attachmentType=='Document'" src="assets/Images/word.png"
                                                    alt="video_icon4"(click)="PreviewMSword(details.photo)">
                                                     <!-- (click)="PreviewMSword(details.photo)"> -->
                                                </div>    
                                            </div>                               

                                    </div>
                                    <div class="col-lg-7"></div>
                                </div> <br>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-12 chapter" style="font-size: 20px; text-align: center;">
                        <!-- <a href="" class="chapter" style="font-size: 18px;color: black;">Topics List
                        </a> -->
                        <a class="chapter" style="font-size: 18px;color: black;">Topics List
                        </a>
                    </div>
                </div>


                <div class="card chapter card1">
                    <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            <p style="font-weight: 600;">Count : {{count}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 chapter">
                            <ul *ngFor="let details of chapterdetails">
                                <li>{{details.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>




















<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enroll for Training</h4>
                <div class="row">
                    <div class="col-lg-11"></div>
                    <div class="col-lg-1">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngFor="let item of stafflist">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="name" id="name" [(ngModel)]="name" placeholder="{{item.name}}"
                            disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="mobile" id="mobile" [(ngModel)]="mobile"
                            placeholder="{{item.mobile}}" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID" [(ngModel)]="emailID"
                            placeholder="{{item.emailID}}" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Manager:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID" [(ngModel)]="emailID"
                            placeholder="{{manageremail}}" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-7" *ngIf="manageremail==null">
                        <p  style="color:red;"><b>Manager not Assigned for Enrollment</b></p>
                    </div>
                    <div class="col-lg-2"*ngIf="manageremail!=null">
                        <button class="form-control Save" 
                            (click)="enroll(item.name,item.mobile,item.emailID)" data-dismiss="modal">Enroll</button>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
            </div>
        </div>
    </div>
</div>
<br>







<!-- <div class="card chapter" *ngFor="let details of chapterdetails" style="height: 220px;overflow-y:auto; overflow-x: hidden">
    <div class="row" >
        <div class="col-lg-10 chapter"> -->
            <!-- <a href="" class="chapter" style="font-size: 18px;" (click)="GetDetails(details.name)">
                <u>{{details.name}}</u> </a> -->
                <!-- <a class="chapter" style="font-size: 18px;" (click)="GetDetails(details.name)">
                    <u>{{details.name}}</u> </a>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-10">
                    <p class="chapter" style="margin-left: 50px;">
                        {{details.description}} </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-5" style="margin-left: 50px;">
                    <br>
                    <p (click)=" ShowAttachments(details.id)"><u>Click Here To View Training Material</u></p> -->

                    <!-- <img class="image" src="assets/Images/pdf.jpg" style="width:20%; height: auto;"
                        (click)="PreviewPdf()"> &nbsp; &nbsp;

                        <img src="assets/Images/pdf.png" style="width: 30px;" (click)="Previewvideo(details.vedioUrl)">

                    <img class="image" src="assets/Images/Video_lcon.png"
                        style="width: 20%; height: auto;" (click)="PreviewPdf()"><br> -->
                        <!-- <div *ngIf="details.id==attachmentId" class="row">
                            <div *ngFor="let details of Attachmentlist" class="col-lg-4">
                            
                                <img class="icon" style="height:30px;width:30px"
                                    *ngIf="details.attachmentType=='video'"
                                    src="assets/Images/Video_lcon.png" alt="video_icon"> -->
                                    <!-- (click)="PreviewVideo(details.photo) -->
        
                                <!-- <img class="icon" style="height:30px;width:30px"
                                    *ngIf="details.attachmentType=='Pdf'" src="assets/Images/pdf.jpg"
                                    alt="video_icon1">  -->
                                    <!-- (click)="PreviewPdf(details.photo)"> -->
        
                                <!-- <img class="icon" style="height:30px;width:30px"
                                    *ngIf="details.attachmentType=='Image'" src="assets/Images/image.png"
                                    alt="video_icon2"> -->
                                     <!-- (click)="PreviewIMG(details.photo)"> -->
        
                                <!-- <img class="icon" style="height:30px;width:30px"
                                    *ngIf="details.attachmentType=='Ppt'" src="assets/Images/files.png"
                                    alt="video_icon3" > -->
                                    <!-- (click)="PreviewPPT(details.photo)"> -->
        
                                <!-- <img class="icon" style="height:30px;width:30px"
                                    *ngIf="details.attachmentType=='Document'" src="assets/Images/word.png"
                                    alt="video_icon4"> -->
                                     <!-- (click)="PreviewMSword(details.photo)"> -->
                            <!-- </div>    
                        </div>                               

                </div>
                <div class="col-lg-7"></div>
            </div> <br>
        </div>
    </div>
</div> -->