<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <label>My Account Settings</label>
        </div>
        </div>
       <div class="card card-padding">
           <div class-="row">
               <div class="col-lg-1"></div>
               <div class="col-lg-10">
                <p class="Account"> ACCOUNT</p><hr>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-10">
                   <p class="Text">Change Password:</p>
                   <p class="Text1">Choose a unique password to protect your account</p> 
               </div>
               <div class="col-lg-2">
                   <p class="Change">Change Now</p>
               </div>
           </div><hr>
           <div class="row">
            <div class="col-lg-10">
                <p class="Text">Change a Language</p>
                <p class="Text1">Choose a Language preference to your account</p>
            </div>
            <div class="col-lg-2 ">
                <select class="form-control">
                    <option value="English(English)">English(English)</option>
                    <option value="Bahasa(Inodonesia)">Bahasa(Inodonesia)</option>
                    <option value="Chinese(China)">Chinese(China)</option>
                    <option value="English(English)">English(English)</option>
                    <option value="Filipino(Philippnes)">Filipino(Philippnes)</option>
                    <option value="British(United Kingdom)">British(United Kingdom)</option>
                    <option value="Japanese(Japan)">Japanese(Japan)</option>
                    <option value="Korean(South Korea)">Korean(South Korea)</option>
                    <option value="Malay(Malasiya)">Malay(Malasiya)</option>
                </select>
            </div>
        </div>
        <div class="col-lg-1"></div> <br>
       </div>      
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <label class="headings">My Account Settings</label>
            <div class="card card-padding">
                <div class-="row">
                    <div class="col-lg-12">
                        <p class="Account">ACCOUNT</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <p class="Text">Change Password:</p>
                        <p class="Text1">Choose a unique password to protect your account</p>
                    </div>
                    <div class="col-lg-3">
                        <p class="Change" routerLink="/MyAccountSetting">Change Now</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-5 Space">
                                        <p> <span class="span">*
                                            </span>Current Password</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" id="pwd" name="pwd"
                                        (keyup)="checkcurpassword($event)"   placeholder="Current Password"   [(ngModel)]="pwd"  >
                                        <span *ngIf="!curpassvaild" class="span">Password Incorrect</span>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-5 Space">
                                        <p> <span class="span">*
                                            </span>New Password</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" id="newpassword" name="newpassword" type="password"
                                            [(ngModel)]="newpassword" placeholder="New Password">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-5 Space">
                                        <p> <span class="span">*
                                            </span>Confirm Password</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" id="confirmpassword" name="confirmpassword"
                                            (keyup)="checkpassword($event)" type="text" [(ngModel)]="confirmpassword"
                                            placeholder="Confirm Password"><br>
                                        <span *ngIf="!passvaild" class="span">Password Doesn't Match</span>
                                    </div>
                                </div> <br>
                            </div>
                            <div class="col-lg-5 Paragraph">
                                <p>
                                    Password<br>- must be atleast 4 characters long<br> -can contain lower case
                                    alphabets (a-z).
                                    <br> - can contain upper case alphabets (A-Z).<br>
                                    -can contain numbers (0-9).<br>
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-3">
                        <button class="button" (click)="Updatepassword()">Save</button> &nbsp;&nbsp;
                        <button class="button" (click)="Cancel()">Cancel</button>
                    </div>
                </div><br>
            </div>
        </div>


        <div class="col-lg-1"></div>
    </div>
