ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }
  
  /* li a:hover {
    text-decoration: 3px solid rgb(28, 32, 94) underline;
  } */
  
  .requestbtn {
    background-color: #3247d5;
    color: white;
    font-family: 'DIN Bold';
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
  }
  
  /* .container-fluid {
    font-family: 'DIN Bold';
    padding: 0px;
    margin: 0px;
  } */
  
  /* .show3res{
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5;
      color: #777;
      text-transform: uppercase;
      padding: 10px 0 5px;
    } */
  .leavebalance {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
  }
  
  .table {
    padding: 10px;
  }
  
  .img {
    width: 25px;
    height: 10%;
  }
  
  .img:hover {
    background-color: chartreuse;
    color: white;
  }
  
  .imgcancel {
    width: 25px;
    height: 10%;
  }
  
  .imgcancel:hover {
    background-color: red;
    color: white;
  }
  
  ul {
    text-align: center;
    position: relative;
    display: inline-block;
  }
  
  li {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  a:active {
    color: brown;
  }
  
  .AddExpense {
    background-color: #3247d5;
    color: white;
    font-family: 'DIN Bold';
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
  }
  
  u {
    text-decoration-color: #2F87CC;
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 12px;
  
  }
  
  
  
  
  
  
  .newrequest {
    background-color: #21a4da;
    color: white;
  }
  
  .card {
    padding: 20px;
  }
  
  th {
    background-color: #e4e5e6;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #3247d5;
    text-align: center;
    text-decoration: none;
  }
  
  
  
  .btn {
    background-color: #3247d5;
    color: white;
  }
  
  .requestbtn {
    background-color: #3247d5;
    color: white;
    font-family: 'DIN Bold';
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
  }
  
  .leavelist {
    padding: 0px 20px;
  }
  
  
  
  .leavebalance {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
  }
  
  .table {
    padding: 10px;
  }
  
  
  u {
    text-decoration-color: #2F87CC;
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 12px;
  
  }
  
  .header {
    font-weight: 700;
    color: #666666;
    float: left;
    width: auto;
    margin: 0;
    /* margin-left: 35px; */
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.9;
    margin-top: 30px;
  }
  
  .building {
    color: #2F87CC;
    font-size: 18px;
  }
  
  .dashbutton {
    border-radius: 10px;
    background-color: #2F87CC;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    margin-bottom: 12px;
  }
  
  .mainrow {
    float: right;
    margin-top: 26px;
  }
  
  .maincard {
    float: initial;
    background: white;
  }
  
  .paneltitle {
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.9;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #666666;
  }
  
  i {
    color: #2F87CC;
    font-size: 15px;
  }
  
  .tableheader {
    padding: 10px;
    background-color: #2F87CC;
    height: 25px;
    width: 200px;
    color: white;
    /* line-height: 0.55;  */
    font-size: 12px;
  }
  
  .table {
    margin-bottom: 0px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    margin: 16px;
    /* line-height: 0.5; */
    font-size: 12px;
    margin-left: -14px;
  }
  
  .table-bordered {
    border: 1px solid #ddd;
  }
  
  .maindropdown {
    width: 210px;
  }
  
  .excelbutton {
    margin-left: auto;
    margin-right: 20px;
    background-color: #2F87CC;
    color: white;
    margin-bottom: 8px;
  }
  
  .topdropdown {
    width: 230px;
    /* margin-top: 11px; */
  }
  
  .maindropdown {
    width: 406px;
    margin-left: -85px;
  }
  
  .cancelbutton {
    width: 145px;
    background-color: #2F87CC;
    color: white;
    border-color: rgba(20, 21, 31, 0.20);
    margin-top: 12px;
    height: 39px;
    border-radius: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #2F87CC;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #2F87CC;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #7d7d7d;
    margin: 25px;
  }
  
  
  
  .closebutton {
    /* margin-left: 106px; */
    border-radius: 6px;
    background-color: #2F87CC;
    color: white;
    border: none;
    width: 56px;
    height: 36px;
    margin-left: 599px;
    margin-right: 20px;
  }
  
  .event_PendingBookCommunity {
    color: #2F87CC !important;
  }
  
  .updatebutton {
    border-radius: 6px;
    background-color: #2F87CC;
    color: white;
    border: none;
    width: 56px;
    height: 36px;
    margin-left: 599px;
    margin-right: 0px;
  }
  
  
  /* for callender start*/
  
  
  /* 
  @media (max-width: 800px) {
    .callendertable .time {
        display: none;
    }
  } */
  
  .event_Pending {
    color: #3247d5;
    background: linear-gradient(110deg, #fdcd3b 60%, #3247d5 60%);
    /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
    border-radius: 5px;
    border-bottom: solid 6px white;
    background: white;
    font-size: 14px;
  }
  
  .event_Rejected {
    color: #333;
    background: linear-gradient(110deg, #fd413b 60%, #fd413b 60%);
    /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
    border-radius: 5px;
  }
  
  .event_Approved {
    color: #333;
    background: linear-gradient(110deg, #63d82c 60%, #56ff4b 60%);
    /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
    border-radius: 5px;
  }
  
  .callenderdiv {
    width: 100%;
    margin-left: 1px;
  }
  
  .staffdetaiks {
    display: none;
  }
  
  .callenderboxes {
    width: 100%;
    height: 170px;
    background: white;
    border: 1px solid #CACACA;
  }
  
  .callenderboxes:hover {
    /* background: greenyellow; */
    border: 1px solid #00addf;
  }
  
  .todayDate {
    /* background-color: #71c6c1; */
    background: linear-gradient(110deg, #fdcd3b 60%, #3247d5 60%);
    width: 100%;
    height: 500px;
    text-align: center;
  }
  
  .datenumber {
    color: white;
    margin-top: 38%;
    font-size: 100px;
  }
  
  .dateday {
    color: white;
    font-size: -webkit-xxx-large;
  }
  
  .callendernavButtons {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 2%;
  }
  
  .callendernavButtons a {
    color: white;
  }
  
  
  /* for callender End*/
  
  .maintainancerequestmodal {
    margin-left: 414px;
    margin-top: 29px;
  }
  
  @media screen and (min-width: 1600px) {
    .maintainancerequestmodal {
      margin-left: 414px;
      margin-top: 29px;
    }
  }
  
  @media screen and (min-width: 1900px) {
    .maintainancerequestmodal {
      margin-left: 637px;
      margin-top: 30px;
    }
  }
  
  .bgOpen {
    background-color: yellow;
  }
  
  .bgAssigned {
    background-color: #5fa8f7;
  }
  
  .bgClosed {
    background-color: lightgreen;
  }
  
  .bgRejected {
    background-color: red
  }
  
  @media screen and (min-width: 1400px) {
    .bttn {
      margin-right: 0px;
      width: 150px;
    }
  
    .bttn1 {
      margin-left: 1082px;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .bttn {
      margin-right: 0px;
    }
  
    .bttn1 {
      margin-left: 880px;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1600px) {
    .row1 {
      margin-right: -36px;
    }
  }
  
  @media screen and (min-width: 1700px) and (max-width: 2000px) {
    .row1 {
      margin-right: -108px;
    }
  }
  
  .inputclass {
    color: #3247D5;
    Font: 'Poppins';
    background-color: transparent;
    border: none;
  
  }
  .span{
    color:black;
  }
  .image{
    width: 50px;
     height: 50px;
  }
  .imageheight{
    height: auto;
    width: 500px;
  }
  
   
  .tab-slider--nav {
    width: 100%;
  }
  
  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tab-slider--tabs:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
  }
  
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  
  .tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #2E3C4E;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tab-slider--trigger.active {
    color: #fff;
    background: #2E3C4E;
  }
  
  .tab-slider--body {
    margin-bottom: 20px;
  }
  
  th{
    width:500px;
  }
  