<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <p class="headings">Time Table</p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>

            <div class="card filtercard">
                <div class="row">
                    <div class="col-md-1">
                        Filter By
                    </div>
                    <div class="col-md-2">
                        <p>Start Date
                            <input class="form-control" id="date" name="date" type="date" [(ngModel)]="date"
                                placeholder="Duration">
                    </div>
                    <div class="col-md-2">
                        <p>End Date
                            <input class="form-control" id="edate" name="edate" (change)="getdate()" type="date"
                                [(ngModel)]="edate" placeholder="Duration">
                    </div>
                    <div class="col-md-6">
                        <br>
                        <input class="form-control" type="search" id="term" name="term" [(ngModel)]="term"
                            placeholder="Search for date , Leave Type or Status">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- <div class="col-md-2">
                    <p class="show3res">SHOWING <span> {{staffleaves.length}} </span>RESULTS</p>
                </div> -->
                <div class="col-md-2">
                    <select class="inputclass" (change)="changeStatus($event)">
                        <option value="2">Calendar</option>
                        <option value="1">List View</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a><button *ngIf="selecallbtn" class="form-control button" (click)="Approveall()">Approve
                            Selected</button></a>
                </div>
            </div><br>
            <div class="shadow p-3 mb-5 bg-white rounded  maincard " [hidden]="showorhidecontent">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row callendernavButtons">
                            <div class="col-lg-4">
                                <a (click)="previousmonth()">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class="col-lg-4">
                                <strong>{{callenderMonth}}</strong> {{callenderyear}}

                            </div>
                            <div class="col-lg-4">
                                <a (click)="nextmonth()">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row callenderdiv">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2 callenderboxes"
                                        *ngFor="let calday of callenderdaysdount;let i = index">
                                        {{calday.date}} {{calday.day}}
                                        <div class="event_Pending" [innerHtml]='calday.mantainenceHtml'
                                            (click)="ShowMaintenanceRequest($event)"
                                            style="overflow-y: auto; border-bottom: solid 6px white;">
                                        </div>
                                        <div class="col-md-2" *ngIf=" calday.mantainenceHtml!=null">
                                            <h6 class="event_Pending" style="width: 100px;margin-left:80px"
                                                (click)="changeStatus1()">
                                                view more.....
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="row" [hidden]="!showorhidecontent">
                <br />
                <div class="col-lg-12">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                                (click)="viewMode ='tab1'">
                                Pending</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                                (click)="viewMode ='tab2'">Approved</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3"
                                (click)="viewMode ='tab3'">Rejected</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <br>
            <div class="container-fluid" [hidden]="!showorhidecontent">
                <div class="row">
                    <div class="col-md-8">
                        <p class="show3res">SHOWING <span>{{staffleaves1.length}}3</span> RESULTS</p>
                    </div>
                    <div class="col-md-2">
                        <button class="form-control requestbtn" *ngIf="roledid==4"
                            routerLink="/Trainer/TimeTableForm">ADD</button>
                    </div>
                </div><br>
                <div class="row" [hidden]="!showorhidecontent">



                    <div class="col-md-12">
                        <table class="table" style="width: 100%;">
                            <thead style=" background-color: #3247d5;">
                                <tr>
                                    <th>Training Name</th>
                                    <th>Topic Name</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th roledid="2">Trainer Name</th>

                                    <!-- <th>Actions</th> -->
                                </tr>
                                <!-- <tr class="header"
                                            *ngFor="let item of quetionlist | filter: search|paginate: { itemsPerPage: count1, currentPage: p}">
                                            <td>{{item.coursename}}</td>
                                            <td>{{item.chaptername}}</td>
                                            <td>{{item.type}}</td>
                                            <td>{{item.question}}</td>
                                            <td>{{item.option1}}</td>
                                            <td>{{item.option2}}</td>
                                            <td>{{item.option3}}</td>
                                            <td>{{item.option4}}</td>
                                          <td style="width: 10px;">{{item.correctAnswer}}</td> 
                                            <td [innerHTML]="item.correctAnswer"></td>
                                            <td>{{item.weightage}}</td>
                                            <!-- <td>
                                                <button class="addbutton" [routerLink]="['/Trainer/AssessmentForm',item.id]" style="width: 100%;">Edit</button> <br>
                                                <br>
                                                <button class="addbutton" (click)="Ondelete(item.id)">Delete</button>
                                            </td>
                                     
                                        </tr> -->
                                <tr>
                                    <td>Digital Marketing</td>
                                    <td>Marketing Strategy</td>
                                    <td>23 August 2022</td>
                                    <td>Tuesday</td>
                                    <td>10:00AM</td>
                                    <td>12:00PM</td>
                                    <td roledid="2">Sreeni</td>
                                </tr>
                                <tr>
                                    <td>Digital Marketing</td>
                                    <td>Digital Marketing Strategy Template</td>
                                    <td>24 August 2022</td>
                                    <td>Wednesday</td>
                                    <td>10:00AM</td>
                                    <td>12:00PM</td>
                                    <td roledid="2">Sreeni</td>
                                </tr>
                                <tr>
                                    <td>IoT</td>
                                    <td>IoT Network Design and Architecture</td>
                                    <td>25 August 2022</td>
                                    <td>Thursday</td>
                                    <td>10:00AM</td>
                                    <td>12:00PM</td>
                                    <td roledid="2">Sreeni</td>
                                </tr>
                            </thead>
                        </table>
                        <ng-template>
                            <p class="NoResultShow" *ngIf="quetionlist.length==0"> Results not found </p>
                        </ng-template>
                    </div>
                    <div class="text-right">
                        <br>
                        <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>